* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito";
  font-size: 22px;
}

.wrapper {
  overflow: hidden;
}

.app-container {
  overflow: hidden;
}

.app-header {
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.app-header-subheader {
  line-height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header-subheader a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.app-header-subheader a:hover {
  color: pink;
  transition: all 0.3s ease;
}

.app-header-subheader-img {
  display: block;
}

.app-header-subheader-img-item {
  height: 85px;
  width: 110px;
}

.menu-header {
  display: none;
}

.menu-header:hover {
  cursor: pointer;
}

.menu-header-icon {
  padding: 26px;
  padding-right: 0;
}

.app-menu-container {
  background-color: #fff;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  transition: all 4s ease-in-out;
}

.app-menu-list {
  list-style: none;
}

.app-menu-item a {
  text-decoration: none;
  display: block;
  color: #000;
}

.app-menu-item {
  padding: 10px 20px;
}

.app-menu-item:hover {
  background-color: #ccc;
  cursor: pointer;
}

.app-footer-container {
  background-color: #039afe;
}

.app-footer-video {
  width: 100%;
}

.video-tag {
  width: 100%;
  border-radius: 2px;
  outline: none;
}

.app-footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.location-footer{
  margin-top: 5px;
  color: #c60c30;
}

.nav-location-area{
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 5px;
}

.map-location{
  width: 100%;
  margin-top: 20px;
}

.app-footer-actives {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
  font-style: italic;
}

.silde-show {
  width: 1350px;
  overflow: hidden;
  margin: 0 auto;
  height: 550px;
  position: relative;
}

.list-images img {
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  height: 100%;
  object-fit: contain;

}

.list-images {
  display: flex;
  transition: 0.5s;
}

.btn {
  font-size: 25px;
  position: absolute;
  color: #999;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  background-color: #ddd;
  padding: 8px;
  border-radius: 30%;
  text-align: center;
}

.btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btnLeft {
  left: 24px;
}

.btnRight {
  right: 24px;
}

.index-images {
  position: absolute;
  bottom: 10px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.index-item {
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #999;
}

.active {
  background-color: #999;
}

.app-header{
  position: fixed;
  top: 0;
  z-index: 100;
  right: 0;
  left: 0;
}

.app-body{
  margin-top: 80px;
}

.nav-information-windsor{
  margin-top: 10px;
  margin-left: 50px;
  font-size: 18px;
  font-family: monospace;
}

.nav-courses-list{
  list-style: none;

}

.nav-courses-item{
  display: flex;
  flex-direction: column;
  background-color: #ccffff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}

.nav-courses-item-textname{
  text-align: center;
  margin-bottom: 20px;
}

.app-body{
  margin-bottom: 20px;
}

.nav-courses-item img{
  height: 400px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.nav-courses-header
,.nav-location-header{
  margin-left: 75px;
  margin-top: 20px;
  font-family: monospace;
}



.image-windsor-center{
  width: 100%;
}

.app-teacher-list{
  margin-left: 30px;
  list-style: none;
  margin-top: 100px;
}

.app-teacher-item{
  margin-top: 20px;
}

.nav-pageactive-items{
  margin-top: 20px;
}

.read-book{
  text-decoration: none;
  background-color: #c60c30;
  text-align: center;
  padding: 6px;
  color: #fff;
  margin-top: 5px;
  border-radius: 4px;
}

.read-book:hover{
  opacity: 0.8;
}

.nav-courses-item .fa-star{
  font-size: 18px;
  margin: 0 4px;
  color: #f2c109;
}

.video-hoat-dong{
  width: 100%;
  outline: none;
}

.nav-news-list{
  list-style: none;
}

.nav-news-items{
 margin-top: 10px;
}

.nav-news-link{
  text-decoration: none;
}

.nav-news-link .nav-news-img img{
  width: 100%;
  border-radius: 6px;
}

.nav-news-footer{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  font-family: monospace;
  color: #ccc;
}

.nav-news-textheader h2{
  font-size: 20px;
  font-family: monospace;
  text-align: justify;
  color: #000;
}

.nav-news-header{
  margin-left: 75px;
  margin-top: 80px;
  font-family: monospace;
  color: #2fa1b3;
}

.news-update{
  font-size: 16px;
  color: #db562b;
}

.nav-news-detail-container{
  margin-top: 120px;
}

.new-detail-showmany,
.new-takecare{
  padding: 5px;
  border-bottom: 2px solid #039afe;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  color: #039afe;
}

.new-takecare{
  color: #c60c30;
  border-bottom: 2px solid #c60c30;
}

.text-header-detail{
  font-family: monospace;
  font-size: 25px;
  text-align: justify;
}

.text-body-list{
  list-style: none;
}

.img-user img{
  width: 30px;
}

.user-post{
  display: flex;
}

.user-post span{
  margin-left: 15px;
  font-weight: 800;
  font-family: monospace;
}

.text-body-list{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  align-items: center;
}

.topic{
  border: 1px solid #039afe;
  padding: 5px 20px;
  text-align: center;
  color: #039afe;
  border-radius: 6px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;

}

.timepost{
  color: #999;
  font-size: 20px;
}

.header-text{
  margin-top: 20px;
  font-family: monospace;
  text-align: justify;
}

.header-description{
  margin-top: 20px;
 text-align: justify;
 font-family: monospace;
 font-size: 18px;
}

.header-img{
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
}

.detail-video{
  margin-top: 10px;
}

.text-tuyendung{
  width: 100%;
  margin: 0 auto;
  font-family: monospace;
  font-weight: 300;
  margin-top: 120px;
  padding: 0 20px;
  text-align: justify;
}

.header-descriptionh{
  font-family: monospace;
  margin: 2px 0;
}